SmartVitals_App/bin/*.*
SmartVitals_App/gen/*.*
SmartVitals_App/bin/resources.ap_
SmartVitals_App/bin/SmartVitals_App.apk
SmartVitals_App/bin/classes.dex
SmartVitals_App/bin/res/*.*
SmartVitals_App/bin/classes.dex
