@model List<SmartVitals.Services.Models.Test>
@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Portal</h2>
@(Html.Telerik().Grid(Model)
        .Name("Tests")
        .Columns(columns =>
        {
            columns.Bound(o => o.TestId).Width(10).Hidden();
            columns.Bound(o => o.Date).Width(150);
            columns.Bound(o => o.Description).Width(300);
            columns.Bound(o => o.Latitude).Width(20);
            columns.Bound(o => o.Longitude).Width(20);
            columns.Command(commands => commands
                   .Custom("viewTestDetails")
                   .Text("View")
                   .DataRouteValues(route => route.Add(o => o.TestId).RouteKey("TestId"))
                   .Action("TestDetails", "Home"))
                   .Title("Actions")
               .HtmlAttributes(new { style = "text-align: center" })
               .Width(20);
        })
        //.Scrollable(scrolling => scrolling.Enabled((bool)ViewData["scrolling"]))
        //.Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true).PageSize(20))
        .Filterable(filtering => filtering.Enabled(true))
        //.Groupable(grouping => grouping.Enabled((bool)ViewData["grouping"]))
        //.Footer((bool)ViewData["showFooter"])
) 
